body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
}

.content {
    padding: 20px;
}

h2 {
    font-size: 24px;
    color: #007bff;
}

strong {
    font-weight: bold;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}
/* Chân trang */
footer {
    background-color: #f0e9e9;
    color: black;
    padding: 20px 0;
  }
  
  /* Phần "Về chúng tôi" */
  footer .col-md-4 h3 {
    color: #ff9900;
    font-size: 18px;
  }
  
  /* Phần "Hỗ trợ" và "Tin tức" */
  footer .col-md-4 ul {
    list-style: none;
    padding: 0;
  }
  
  footer .col-md-4 ul li {
    margin-bottom: 10px;
  }
  
  footer .col-md-4 ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Hover đổi màu cho các liên kết */
  footer .col-md-4 ul li a:hover {
    color: #ff9900;
  }